
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
  /* CSS */
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  /* CSS */
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  /* CSS */
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  /* CSS */
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  /* CSS */
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  /* CSS */
  
  .banner{
    height: auto;
  }
  .banner-text h6{
    font-size: 10px;
  }
  .banner-text h1{
    font-size: 23px;
  }
  .banner-text button{
    margin-top: 25px;
    font-size: 12px;
    padding: 12px 33px;
  }
  .banner-icon{
    margin-top: 150px;
  }
  .about-us h1{
    font-size: 32px;
  }
  .about-us p{
    margin: auto;
    font-size: 12px;
    margin-bottom: 18px;
  }
  .counter-section{
    padding: 50px 0px;
  }
  .counter-section i{
    font-size: 25px;
  }
  .counter-section p, .counter-section span{
    font-size: 10.5px;
    margin-bottom: 15px;
  }
  .portfolio{
    padding: 60px 0px;
  }
  .portfolio-text h1{
    font-size: 30px;
  }
  .portfolio-text p{
    width: auto;
    font-size: 12px;
  }
  .hover-text{
    margin: 10px;
  }
  .project-1 h3{
    font-weight: 400;
    font-size: 10px;
    padding-bottom: 0;
  }
  .project-1 p{
    font-size: 7px;
  }
  .review{
    padding: 35px 0px;
  }
  .quote p{
    font-size: 10px;
    width: none;
    margin-bottom: 0 !important;
  }
  .quote span{
    font-size: 7px;
  }
  .company-logo{
    padding: 35px 0px;
  }
  .logo-img img{
    max-width: 30%;
  }
  .blog{
    padding: 65px 0px;
  }
  .blog-text h1{
    font-weight: 500;
    font-size: 32px;
  }
  .blog-text p{
    font-size: 12px;
    width: auto;
  }
  .contact{
    padding: 60px 0px;
    text-align: center;
  }
  .contact-info p{
    font-size: 12px;
    width: auto;
  }
  .contact-info ul li{
    font-size: 12px;
  }
  .contact-info ul li h6{
    font-size: 12px;
  }
  .form-head input{
    padding: 8px 140px 8px 15px;
    margin-right: 0;
  }
  .form-body input{
    padding: 8px 140px 8px 15px;
  }
  .form-btn{
    padding: 10px 15px;
    font-size: 12px;
  }
  .footer{
    padding: 25px 0px;
  }
  .footer-icon ul li a i{
    font-size: 12px;
    margin-left: 10px;
  }
  .footer-text{
    margin-top: 15px;
  }
  .footer-text p{
    font-size: 10px;
  }
}